# _Load Inference Module_

In [14]:
import sys
from pathlib import Path
from typing import List, Union, Tuple, Dict
import re
from pathlib import Path
import pandas as pd
import numpy as np
import torch
src_dir = Path.cwd().parent
sys.path.append(str(src_dir))
from src.relation_extraction.infer import infer_from_trained, assign_relation
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows',100 )

re_model = infer_from_trained(detect_entities=True,
                             language_model="en_core_web_trf",
                             entity_matcher=str(src_dir /"artifacts/matcher_model"),
                             require_gpu=True,
                             load_matcher=True)

args = {'model_path': str(src_dir / 'artifacts/re_model') ,
              'batch_size':8}
re_model.load_model(args)

Torch GPU Exists..
2023-12-10 07:30:11,093 â€” ðŸŒŒ spaCy â€” INFO â€” Language model used is en_core_web_trf
2023-12-10 07:30:11,094 â€” ðŸŒŒ spaCy â€” INFO â€” spaCy Work On CPU
2023-12-10 07:30:13,645 â€” ðŸ’« Relations Extractor â€” INFO â€” Loading tokenizer and model...
Load with CUDA

12/10/2023 07:30:15 AM [INFO]: Loaded model.

2023-12-10 07:30:15,284 â€” ðŸ’« Relations Extractor â€” INFO â€” Done!

In [16]:
sentence = "If Westcon is unable to deliver phones of acceptable quality, or if there is a reduction or interruption in Westcon's ability to supply the phones in a timely manner, RingCentral Inc ability to bring services to market, the reliability of RingCentral Inc subscriptions and RingCentral Inc relationships with customers or RingCentral Inc overall reputation in the marketplace could suffer, which could cause RingCentral Inc to lose revenue"
sentence = "There is supply chain among OMAR Inc and Ahmed INC, Where Omar Inc is designing interpritable ai system call integerated gradients, Also AHMED use this ai tech to serve Ahmed's clients"
sentence = "In the event NASA were to cancel the SLS program, ALLIANT TECHSYSTEMS Inc believe that ALLIANT TECHSYSTEMS Inc will be reimbursed for certain amounts previously incurred by ALLIANT TECHSYSTEMS Inc as well as amounts to be incurred by ALLIANT TECHSYSTEMS Inc as part of that termination, e.g., severance, environmental liabilities and termination administration."

In [3]:
re_model.predict_relations([sentence], reverse=True, mutate=True, num_positions=np.inf)

mutate text: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9/9 [00:00<00:00, 6087.52it/s]
12/10/2023 07:24:52 AM [INFO]: Tokenizing data...
tokenization: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9/9 [00:00<00:00, 2937.87it/s]
tags positioning: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9/9 [00:00<00:00, 9425.40it/s]

Invalid rows/total: 0/9

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2/2 [00:00<00:00, 69.04it/s]
mutate text: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9/9 [00:00<00:00, 6892.23it/s]
12/10/2023 07:24:53 AM [INFO]: Tokenizing data...
tokenization: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9/9 [00:00<00:00, 3118.70it/s]
tags positioning: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9/9 [00:00<00:00, 10294.17it/s]

Invalid rows/total: 0/9

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2/2 [00:00<00:00, 77.38it/s]

,relations,orig_sents,org_groups
idx,,,
0,"[{'NASA': 'customer', 'ALLIANT TECHSYSTEMS Inc': 'supplier', 'score': 0.6097}, {'SLS': 'other', 'ALLIANT TECHSYSTEMS Inc': 'other', 'score': 0.6554}, {'SLS': 'other', 'NASA': 'other', 'score': 0.9694}]","In the event NASA were to cancel the SLS program, ALLIANT TECHSYSTEMS Inc believe that ALLIANT TECHSYSTEMS Inc will be reimbursed for certain amounts previously incurred by ALLIANT TECHSYSTEMS Inc as well as amounts to be incurred by ALLIANT TECHSYSTEMS Inc as part of that termination, e.g., severance, environmental liabilities and termination administration.","{'ALLIANT TECHSYSTEMS Inc': 0, 'NASA': 1, 'SLS': 2}"

In [17]:
#tagged_frame = pd.DataFrame(tagged_frame)
tagged_frame = re_model.tag_sentences(sentences=[sentence])

In [18]:
tagged_frame

,sents,orig_sents,entity1,entity2,org_groups,idx,r_id
0,"In the event [E2] NASA [/E2] were to cancel the SLS program, ALLIANT TECHSYSTEMS Inc believe that ALLIANT TECHSYSTEMS Inc will be reimbursed for certain amounts previously incurred by ALLIANT TECHSYSTEMS Inc as well as amounts to be incurred by [E1] ALLIANT TECHSYSTEMS Inc [/E1] as part of that termination, e.g., severance, environmental liabilities and termination administration.","In the event NASA were to cancel the SLS program, ALLIANT TECHSYSTEMS Inc believe that ALLIANT TECHSYSTEMS Inc will be reimbursed for certain amounts previously incurred by ALLIANT TECHSYSTEMS Inc as well as amounts to be incurred by ALLIANT TECHSYSTEMS Inc as part of that termination, e.g., severance, environmental liabilities and termination administration.",ALLIANT TECHSYSTEMS Inc,NASA,"{'ALLIANT TECHSYSTEMS Inc': 0, 'NASA': 1, 'SLS': 2}",0,0_0
1,"In the event [E2] NASA [/E2] were to cancel the SLS program, ALLIANT TECHSYSTEMS Inc believe that ALLIANT TECHSYSTEMS Inc will be reimbursed for certain amounts previously incurred by [E1] ALLIANT TECHSYSTEMS Inc [/E1] as well as amounts to be incurred by ALLIANT TECHSYSTEMS Inc as part of that termination, e.g., severance, environmental liabilities and termination administration.","In the event NASA were to cancel the SLS program, ALLIANT TECHSYSTEMS Inc believe that ALLIANT TECHSYSTEMS Inc will be reimbursed for certain amounts previously incurred by ALLIANT TECHSYSTEMS Inc as well as amounts to be incurred by ALLIANT TECHSYSTEMS Inc as part of that termination, e.g., severance, environmental liabilities and termination administration.",ALLIANT TECHSYSTEMS Inc,NASA,"{'ALLIANT TECHSYSTEMS Inc': 0, 'NASA': 1, 'SLS': 2}",0,0_0
2,"In the event [E2] NASA [/E2] were to cancel the SLS program, [E1] ALLIANT TECHSYSTEMS Inc [/E1] believe that ALLIANT TECHSYSTEMS Inc will be reimbursed for certain amounts previously incurred by ALLIANT TECHSYSTEMS Inc as well as amounts to be incurred by ALLIANT TECHSYSTEMS Inc as part of that termination, e.g., severance, environmental liabilities and termination administration.","In the event NASA were to cancel the SLS program, ALLIANT TECHSYSTEMS Inc believe that ALLIANT TECHSYSTEMS Inc will be reimbursed for certain amounts previously incurred by ALLIANT TECHSYSTEMS Inc as well as amounts to be incurred by ALLIANT TECHSYSTEMS Inc as part of that termination, e.g., severance, environmental liabilities and termination administration.",ALLIANT TECHSYSTEMS Inc,NASA,"{'ALLIANT TECHSYSTEMS Inc': 0, 'NASA': 1, 'SLS': 2}",0,0_0
3,"In the event [E2] NASA [/E2] were to cancel the SLS program, ALLIANT TECHSYSTEMS Inc believe that [E1] ALLIANT TECHSYSTEMS Inc [/E1] will be reimbursed for certain amounts previously incurred by ALLIANT TECHSYSTEMS Inc as well as amounts to be incurred by ALLIANT TECHSYSTEMS Inc as part of that termination, e.g., severance, environmental liabilities and termination administration.","In the event NASA were to cancel the SLS program, ALLIANT TECHSYSTEMS Inc believe that ALLIANT TECHSYSTEMS Inc will be reimbursed for certain amounts previously incurred by ALLIANT TECHSYSTEMS Inc as well as amounts to be incurred by ALLIANT TECHSYSTEMS Inc as part of that termination, e.g., severance, environmental liabilities and termination administration.",ALLIANT TECHSYSTEMS Inc,NASA,"{'ALLIANT TECHSYSTEMS Inc': 0, 'NASA': 1, 'SLS': 2}",0,0_0
4,"In the event NASA were to cancel the [E2] SLS [/E2] program, ALLIANT TECHSYSTEMS Inc believe that ALLIANT TECHSYSTEMS Inc will be reimbursed for certain amounts previously incurred by [E1] ALLIANT TECHSYSTEMS Inc [/E1] as well as amounts to be incurred by ALLIANT TECHSYSTEMS Inc as part of that termination, e.g., severance, environmental liabilities and termination administration.","In the event NASA were to cancel the SLS program, ALLIANT TECHSYSTEMS Inc believe that ALLIANT TECHSYSTEMS Inc will be reimbursed for certain amounts previously incurred by ALLIANT TECHSYSTEMS Inc as well as amounts to be incurred by ALLIANT TECHSYSTEMS Inc as part of that termination, e.g., severance, environmental liabilities and termination administration.",ALLIANT TECHSYSTEMS Inc,SLS,"{'ALLIANT TECHSYSTEMS Inc': 0, 'NASA': 1, 'SLS': 2}",0,0_1
5,"In the event NASA were to cancel the [E2] SLS [/E2] program, [E1] ALLIANT TECHSYSTEMS Inc [/E1] believe that ALLIANT TECHSYSTEMS Inc will be reimbursed for certain amounts previously incurred by ALLIANT TECHSYSTEMS Inc as well as amounts to be incurred by ALLIANT TECHSYSTEMS Inc as part of that termination, e.g., severance, environmental liabilities and termination administration.","In the event NASA were to cancel the SLS program, ALLIANT TECHSYSTEMS Inc believe that ALLIANT TECHSYSTEMS Inc will be reimbursed for certain amounts previously incurred by ALLIANT TECHSYSTEMS Inc as well as amounts to be incurred by ALLIANT TECHSYSTEMS Inc as part of that termination, e.g., severance, environmental liabilities and termination administration.",ALLIANT TECHSYSTEMS Inc,SLS,"{'ALLIANT TECHSYSTEMS Inc': 0, 'NASA': 1, 'SLS': 2}",0,0_1
6,"In the event NASA were to cancel the [E2] SLS [/E2] program, ALLIANT TECHSYSTEMS Inc believe that [E1] ALLIANT TECHSYSTEMS Inc [/E1] will be reimbursed for certain amounts previously incurred by ALLIANT TECHSYSTEMS Inc as well as amounts to be incurred by ALLIANT TECHSYSTEMS Inc as part of that termination, e.g., severance, environmental liabilities and termination administration.","In the event NASA were to cancel the SLS program, ALLIANT TECHSYSTEMS Inc believe that ALLIANT TECHSYSTEMS Inc will be reimbursed for certain amounts previously incurred by ALLIANT TECHSYSTEMS Inc as well as amounts to be incurred by ALLIANT TECHSYSTEMS Inc as part of that termination, e.g., severance, environmental liabilities and termination administration.",ALLIANT TECHSYSTEMS Inc,SLS,"{'ALLIANT TECHSYSTEMS Inc': 0, 'NASA': 1, 'SLS': 2}",0,0_1
7,"In the event NASA were to cancel the [E2] SLS [/E2] program, ALLIANT TECHSYSTEMS Inc believe that ALLIANT TECHSYSTEMS Inc will be reimbursed for certain amounts previously incurred by ALLIANT TECHSYSTEMS Inc as well as amounts to be incurred by [E1] ALLIANT TECHSYSTEMS Inc [/E1] as part of that termination, e.g., severance, environmental liabilities and termination administration.","In the event NASA were to cancel the SLS program, ALLIANT TECHSYSTEMS Inc believe that ALLIANT TECHSYSTEMS Inc will be reimbursed for certain amounts previously incurred by ALLIANT TECHSYSTEMS Inc as well as amounts to be incurred by ALLIANT TECHSYSTEMS Inc as part of that termination, e.g., severance, environmental liabilities and termination administration.",ALLIANT TECHSYSTEMS Inc,SLS,"{'ALLIANT TECHSYSTEMS Inc': 0, 'NASA': 1, 'SLS': 2}",0,0_1
8,"In the event [E1] NASA [/E1] were to cancel the [E2] SLS [/E2] program, ALLIANT TECHSYSTEMS Inc believe that ALLIANT TECHSYSTEMS Inc will be reimbursed for certain amounts previously incurred by ALLIANT TECHSYSTEMS Inc as well as amounts to be incurred by ALLIANT TECHSYSTEMS Inc as part of that termination, e.g., severance, environmental liabilities and termination administration.","In the event NASA were to cancel the SLS program, ALLIANT TECHSYSTEMS Inc believe that ALLIANT TECHSYSTEMS Inc will be reimbursed for certain amounts previously incurred by ALLIANT TECHSYSTEMS Inc as well as amounts to be incurred by ALLIANT TECHSYSTEMS Inc as part of that termination, e.g., severance, environmental liabilities and termination administration.",NASA,SLS,"{'ALLIANT TECHSYSTEMS Inc': 0, 'NASA': 1, 'SLS': 2}",0,0_2

In [19]:
# estimate softmax scores    
tagged_frame = re_model.predict_fn(tagged_frame, reverse=True, mutate=True)

mutate text: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9/9 [00:00<00:00, 6503.92it/s]
12/10/2023 07:30:30 AM [INFO]: Tokenizing data...
tokenization: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9/9 [00:00<00:00, 3110.99it/s]
tags positioning: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9/9 [00:00<00:00, 12157.40it/s]

Invalid rows/total: 0/9

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2/2 [00:00<00:00, 79.18it/s]
mutate text: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9/9 [00:00<00:00, 7884.03it/s]
12/10/2023 07:30:30 AM [INFO]: Tokenizing data...
tokenization: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9/9 [00:00<00:00, 3237.73it/s]
tags positioning: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9/9 [00:00<00:00, 12541.11it/s]

Invalid rows/total: 0/9

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2/2 [00:00<00:00, 83.40it/s]

In [20]:
# aggregate multi-positioning relations.
id_scores = tagged_frame.groupby(['r_id'])\
 .apply(lambda x : list(np.mean(x['scores'].tolist(), axis=0))).to_dict()

In [21]:
# assign aggregated relation for all positions
tagged_frame['scores'] = tagged_frame['r_id'].apply(lambda x: id_scores[x])
# drop duplicates from multi-positions
tagged_frame.drop_duplicates(subset=['r_id'], inplace=True, ignore_index=True)

In [22]:
tagged_frame

,sents,orig_sents,entity1,entity2,org_groups,idx,r_id,mutated_sents,scores
0,"In the event [E2] NASA [/E2] were to cancel the SLS program, ALLIANT TECHSYSTEMS Inc believe that ALLIANT TECHSYSTEMS Inc will be reimbursed for certain amounts previously incurred by ALLIANT TECHSYSTEMS Inc as well as amounts to be incurred by [E1] ALLIANT TECHSYSTEMS Inc [/E1] as part of that termination, e.g., severance, environmental liabilities and termination administration.","In the event NASA were to cancel the SLS program, ALLIANT TECHSYSTEMS Inc believe that ALLIANT TECHSYSTEMS Inc will be reimbursed for certain amounts previously incurred by ALLIANT TECHSYSTEMS Inc as well as amounts to be incurred by ALLIANT TECHSYSTEMS Inc as part of that termination, e.g., severance, environmental liabilities and termination administration.",ALLIANT TECHSYSTEMS Inc,NASA,"{'ALLIANT TECHSYSTEMS Inc': 0, 'NASA': 1, 'SLS': 2}",0,0_0,"In the event [E2] org-nine [/E2] were to cancel the SLS program, org-forty-eight believe that org-forty-eight will be reimbursed for certain amounts previously incurred by org-forty-eight as well as amounts to be incurred by [E1] org-forty-eight [/E1] as part of that termination, e.g., severance, environmental liabilities and termination administration.","[0.3352079577744007, 0.025905624614097178, 0.6388864368200302]"
1,"In the event NASA were to cancel the [E2] SLS [/E2] program, ALLIANT TECHSYSTEMS Inc believe that ALLIANT TECHSYSTEMS Inc will be reimbursed for certain amounts previously incurred by [E1] ALLIANT TECHSYSTEMS Inc [/E1] as well as amounts to be incurred by ALLIANT TECHSYSTEMS Inc as part of that termination, e.g., severance, environmental liabilities and termination administration.","In the event NASA were to cancel the SLS program, ALLIANT TECHSYSTEMS Inc believe that ALLIANT TECHSYSTEMS Inc will be reimbursed for certain amounts previously incurred by ALLIANT TECHSYSTEMS Inc as well as amounts to be incurred by ALLIANT TECHSYSTEMS Inc as part of that termination, e.g., severance, environmental liabilities and termination administration.",ALLIANT TECHSYSTEMS Inc,SLS,"{'ALLIANT TECHSYSTEMS Inc': 0, 'NASA': 1, 'SLS': 2}",0,0_1,"In the event org-ninety-one were to cancel the [E2] SLS [/E2] program, org-sixteen believe that org-sixteen will be reimbursed for certain amounts previously incurred by [E1] org-sixteen [/E1] as well as amounts to be incurred by org-sixteen as part of that termination, e.g., severance, environmental liabilities and termination administration.","[0.6959678828716278, 0.023183449637144804, 0.2808486968278885]"
2,"In the event [E1] NASA [/E1] were to cancel the [E2] SLS [/E2] program, ALLIANT TECHSYSTEMS Inc believe that ALLIANT TECHSYSTEMS Inc will be reimbursed for certain amounts previously incurred by ALLIANT TECHSYSTEMS Inc as well as amounts to be incurred by ALLIANT TECHSYSTEMS Inc as part of that termination, e.g., severance, environmental liabilities and termination administration.","In the event NASA were to cancel the SLS program, ALLIANT TECHSYSTEMS Inc believe that ALLIANT TECHSYSTEMS Inc will be reimbursed for certain amounts previously incurred by ALLIANT TECHSYSTEMS Inc as well as amounts to be incurred by ALLIANT TECHSYSTEMS Inc as part of that termination, e.g., severance, environmental liabilities and termination administration.",NASA,SLS,"{'ALLIANT TECHSYSTEMS Inc': 0, 'NASA': 1, 'SLS': 2}",0,0_2,"In the event [E1] org-seven [/E1] were to cancel the [E2] SLS [/E2] program, org-eighty-three believe that org-eighty-three will be reimbursed for certain amounts previously incurred by org-eighty-three as well as amounts to be incurred by org-eighty-three as part of that termination, e.g., severance, environmental liabilities and termination administration.","[0.9710360765457153, 0.017878979444503784, 0.01108497567474842]"

In [23]:
# define max scores and its label_ids
score, labels = torch.tensor(tagged_frame['scores']).max(1)
# create relations info items to compine relations on each sentence
tagged_frame.loc[:, 'relation'],\
tagged_frame.loc[:, 'scores'] =  labels, score
tagged_frame.loc[:, 'relation'] = tagged_frame['relation']\
.apply(lambda x : re_model.id2label[str(x)])
tagged_frame.loc[:, 'relations_info'] =tagged_frame\
.apply(lambda x : assign_relation(x['sents'], x['relation'], x['scores']), axis=1)

relation_groups = []
for i,group in tagged_frame.groupby('idx'):
    relations = list(group['relations_info'])
    group_id = group['idx'].unique()[0]
    relation_groups.append({'relations':relations ,
                            "idx": group_id})
merged_df = pd.merge(pd.DataFrame(relation_groups), tagged_frame[['idx','orig_sents', 'org_groups']],
                    on='idx', how='inner').drop_duplicates(['idx'])

In [24]:
merged_df

,relations,idx,orig_sents,org_groups
0,"[{'NASA': 'customer', 'ALLIANT TECHSYSTEMS Inc': 'supplier', 'score': 0.6389}, {'SLS': 'other', 'ALLIANT TECHSYSTEMS Inc': 'other', 'score': 0.696}, {'SLS': 'other', 'NASA': 'other', 'score': 0.971}]",0,"In the event NASA were to cancel the SLS program, ALLIANT TECHSYSTEMS Inc believe that ALLIANT TECHSYSTEMS Inc will be reimbursed for certain amounts previously incurred by ALLIANT TECHSYSTEMS Inc as well as amounts to be incurred by ALLIANT TECHSYSTEMS Inc as part of that termination, e.g., severance, environmental liabilities and termination administration.","{'ALLIANT TECHSYSTEMS Inc': 0, 'NASA': 1, 'SLS': 2}"

## Simple Data For Model Sanity Check

In [25]:
import pandas as pd
simple_data = pd.read_excel(src_dir / 'data/raw/simple_sentences_cs_report.xlsx')

In [27]:
predictions = re_model.predict_frame(simple_data, sentence_column = 'sentence')

mutate text: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 499/499 [00:00<00:00, 14205.34it/s]
12/10/2023 07:32:22 AM [INFO]: Tokenizing data...
tokenization: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 499/499 [00:00<00:00, 9786.90it/s]
tags positioning: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 499/499 [00:00<00:00, 72601.56it/s]

Invalid rows/total: 0/499

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 63/63 [00:00<00:00, 99.16it/s]

In [29]:
predictions.head(2)

,relations,orig_sents,org_groups
idx,,,
0,"[{'Intel': 'supplier', 'Apple': 'customer', 'score': 0.999}]","Due to new government regulations, Apple has started buying microchips from Intel.","{'Apple': 0, 'Intel': 1}"
1,"[{'Oracle': 'supplier', 'Microsoft': 'customer', 'score': 0.9995}]",Government regulations require Microsoft to purchase software licenses from Oracle.,"{'Microsoft': 0, 'Oracle': 1}"

In [30]:
simple_data.loc[predictions.index, 'relations'] = predictions['relations']

In [32]:
simple_data['relations'].isna().sum()

25

In [33]:
from itertools import chain
def is_sc(relations):
    if not relations:
        return 0
    if isinstance(relations, list):
        return int(any([1 if x =='supplier' else 0 for x in\
             list(chain(*[list(r.values()) for r in relations])) ]))
    else:
        0

In [34]:
relations = simple_data['relations'][1]

In [35]:
any([1 if x =='supplier' else 0 for x in\
             list(chain(*[list(r.values()) for r in relations])) ])

True

In [36]:
simple_data.loc[:, 're_prediction'] = simple_data['relations'].apply(is_sc)

In [37]:
simple_data['re_prediction'].fillna(0, inplace=True)

In [38]:
simple_data.loc[:, 're_correct_prediction'] = simple_data['re_prediction'] == simple_data['true_label']

In [39]:
simple_data.re_prediction.isna().sum()

0

In [43]:
correct = simple_data.query("true_label == re_prediction")

In [44]:
errors =  simple_data.query("true_label != re_prediction")

In [45]:
errors.re_prediction.value_counts()

1.0    29
0.0    15
Name: re_prediction, dtype: int64

In [46]:
simple_data.query("true_label == re_prediction").shape[0]/ len(simple_data)

0.9063829787234042

In [112]:
sent = "McDonald's yearly revenue numbers increased after it started sourcing potatoes for Idaho Potato Commission."
sent = "Starbucks potential revenue have surged after they started buying coffee beans from Colombian Coffee Growers Federation."
sent = "Whole Foods Market is UNITED NATURAL FOODS Inc only supernatural chain customer, and net sales to Whole Foods Market for the year ended August 3, 2013 increased by approximately $324 million or 17.2% over the prior year and accounted for approximately 36% of UNITED NATURAL FOODS Inc total net sales for each of the years ended August 3, 2013 and July 28, 2012"

In [113]:
relation_extractor.predict_relations([sent])

| ID | GPU | MEM |
------------------
|  0 |  0% | 14% |
2023-09-14 14:08:42,510 â€” ðŸŒŒ spaCy â€” INFO â€” Start batch job for 1 chunks
2023-09-14 14:08:42,511 â€” ðŸŒŒ spaCy â€” INFO â€” process chunk#1 ...

mutate text: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 1474.27it/s]
09/14/2023 02:08:42 PM [INFO]: Tokenizing data...
tokenization: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 838.36it/s]
tags positioning: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 1680.41it/s]

Invalid rows/total: 0/1

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 133.35it/s]

,relations,orig_sents,org_groups
idx,,,
0,"[{'Whole Foods Market': 'customer', 'UNITED NATURAL FOODS Inc': 'supplier', 'score': 0.9999}]","Whole Foods Market is UNITED NATURAL FOODS Inc only supernatural chain customer, and net sales to Whole Foods Market for the year ended August 3, 2013 increased by approximately $324 million or 17.2% over the prior year and accounted for approximately 36% of UNITED NATURAL FOODS Inc total net sales for each of the years ended August 3, 2013 and July 28, 2012","{'UNITED NATURAL FOODS Inc': 0, 'Whole Foods Market': 1}"

# _Extract supply chain relations from sequence of text_
- Using `infere.predict_relations` to extract relations within `Sequence` of sentences

In [3]:
text = ['This Annual Report on Form 10 K presents information for Sirius XM Holdings Inc ("Holdings"), a Delaware Corp The terms "Holdings," "SIRIUS XM HOLDINGS Inc," "SIRIUS XM HOLDINGS Inc," "SIRIUS XM HOLDINGS Inc," and "SIRIUS XM HOLDINGS Inc company" as used herein and unless otherwise stated or indicated by context, refer to Sirius XM Holdings Inc..',
    'TWENTY-FIRST CENTURY FOX INC has an approximate 19% interest in Rotana Holding FZ-LLC ("Rotana"), a diversified media company in the Middle East and North Africa.',
 'TWENTY-FIRST CENTURY FOX INC reports that A significant stockholder of the Company, who owns more than 5% of the TWENTY-FIRST CENTURY FOX INC Class B Common Stock, owns a controlling interest in Rotana.',
 'TWENTY-FIRST CENTURY FOX INC also has an option to sell its interest in Rotana in fiscal year 2015 at the higher of the price per share based on a bona-fide sale offer or the original subscription price plus interest.',
 'In January 2014, TWENTY-FIRST CENTURY FOX INC terminated its licensing arrangement with Rotana Media Services ("RMS"), a subsidiary of Rotana, whereby RMS had licensed two English-language, free-to-air general entertainment channels from TWENTY-FIRST CENTURY FOX INC for distribution in the Middle East.',
 'In connection with the termination, TWENTY-FIRST CENTURY FOX INC agreed to settle all outstanding receivables at a discount and RMS agreed to provide TWENTY-FIRST CENTURY FOX INC with continued satellite transponder capacity services for two years.',
 'In addition, TWENTY-FIRST CENTURY FOX INC has provided a shareholder loan to the Rotana venture.',
 'None of the amounts between TWENTY-FIRST CENTURY FOX INC and RMS in connection with the termination of the licensing agreement is material to TWENTY-FIRST CENTURY FOX INC either individually or in the aggregate.',
 'In 2012, two customers, Samsung Electronics Company, Ltd. ("Samsung") and Taiwan Semiconductor Manufacturing Company, Ltd. ("Taiwan Semiconductor"), combined represented greater than 10 percent of total net sales.',
 'The largest purchasers were Valero Energy Corp. ("Valero"), NGL Energy Partners LP, PVR Midstream LLC ("PVR Midstream"), Plains Marketing LP ("Plains Marketing"), and Monarch Natural Gas LLC which accounted for approximately 22%, 12%, 12%, 10% and 10% of consolidated oil and gas sales, respectively.',
       'Greater Cannabis Co Inc reports that The FF Note may be pre paid in whole or in part by paying FF the following premiums',
       "Greater Cannabis Co Inc reports that The agreement provides for Green C payments to Pharmedica of a $100,000 license fee (which was paid by 2591028 Ontario Limited, an entity affiliated with Green C's Chief Executive Officer, on June 26, 2018) and annual royalties at a rate of 5% of the Net Sales of the Licensed Product subject to a Minimum Annual Royalty of $50,000."]
# Predict sequence of text
output = relation_extractor.predict_relations(text, mutate=True)

| ID | GPU | MEM |
------------------
|  0 |  0% | 13% |
2023-09-12 12:28:09,021 â€” ðŸŒŒ spaCy â€” INFO â€” Start batch job for 1 chunks
2023-09-12 12:28:09,023 â€” ðŸŒŒ spaCy â€” INFO â€” process chunk#1 ...

mutate text: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 28/28 [00:00<00:00, 8068.19it/s]
09/12/2023 12:28:10 PM [INFO]: Tokenizing data...
tokenization: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 28/28 [00:00<00:00, 3473.13it/s]
tags positioning: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 28/28 [00:00<00:00, 20371.29it/s]

Invalid rows/total: 0/28

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4/4 [00:00<00:00, 45.71it/s]

In [4]:
from pprint import pprint as pp
import json 
json.loads(output[['orig_sents', 'relations']].to_json(orient='records'))

[{'orig_sents': 'This Annual Report on Form 10 K presents information for Sirius XM Holdings Inc ("Holdings"), a Delaware Corp The terms "Holdings," "SIRIUS XM HOLDINGS Inc," "SIRIUS XM HOLDINGS Inc," "SIRIUS XM HOLDINGS Inc," and "SIRIUS XM HOLDINGS Inc company" as used herein and unless otherwise stated or indicated by context, refer to Sirius XM Holdings Inc..',
  'relations': [{'Delaware Corp': 'other',
    'SIRIUS XM HOLDINGS Inc': 'other',
    'score': 1.0}]},
 {'orig_sents': 'TWENTY FIRST CENTURY FOX INC has an approximate 19% interest in Rotana Holding FZ LLC ("Rotana"), a diversified media company in the Middle East and North Africa.',
  'relations': [{'TWENTY FIRST CENTURY FOX INC': 'other',
    'Rotana Holding FZ LLC': 'other',
    'score': 1.0}]},
 {'orig_sents': 'TWENTY FIRST CENTURY FOX INC reports that A significant stockholder of the Company, who owns more than 5% of the TWENTY FIRST CENTURY FOX INC Class B Common Stock, owns a controlling interest in Rotana.',
  'relations': [{'TWENTY FIRST CENTURY FOX INC': 'other',
    'Rotana': 'other',
    'score': 1.0}]},
 {'orig_sents': 'TWENTY FIRST CENTURY FOX INC also has an option to sell its interest in Rotana in fiscal year 2015 at the higher of the price per share based on a bona fide sale offer or the original subscription price plus interest.',
  'relations': [{'TWENTY FIRST CENTURY FOX INC': 'other',
    'Rotana': 'other',
    'score': 0.9994}]},
 {'orig_sents': 'In January 2014, TWENTY FIRST CENTURY FOX INC terminated its licensing arrangement with Rotana Media Services ("RMS"), a subsidiary of Rotana, whereby RMS had licensed two English language, free to air general entertainment channels from TWENTY FIRST CENTURY FOX INC for distribution in the Middle East.',
  'relations': [{'Rotana': 'other',
    'Rotana Media Services': 'other',
    'score': 0.9996},
   {'TWENTY FIRST CENTURY FOX INC': 'customer',
    'Rotana Media Services': 'supplier',
    'score': 0.9959},
   {'TWENTY FIRST CENTURY FOX INC': 'customer',
    'Rotana': 'supplier',
    'score': 0.9911}]},
 {'orig_sents': 'In connection with the termination, TWENTY FIRST CENTURY FOX INC agreed to settle all outstanding receivables at a discount and RMS agreed to provide TWENTY FIRST CENTURY FOX INC with continued satellite transponder capacity services for two years.',
  'relations': [{'TWENTY FIRST CENTURY FOX INC': 'supplier',
    'RMS': 'customer',
    'score': 1.0}]},
 {'orig_sents': 'In addition, TWENTY FIRST CENTURY FOX INC has provided a shareholder loan to the Rotana venture.',
  'relations': [{'TWENTY FIRST CENTURY FOX INC': 'other',
    'Rotana': 'other',
    'score': 0.9999}]},
 {'orig_sents': 'None of the amounts between TWENTY FIRST CENTURY FOX INC and RMS in connection with the termination of the licensing agreement is material to TWENTY FIRST CENTURY FOX INC either individually or in the aggregate.',
  'relations': [{'TWENTY FIRST CENTURY FOX INC': 'supplier',
    'RMS': 'customer',
    'score': 0.9302}]},
 {'orig_sents': 'In 2012, two customers, Samsung Electronics Company, Ltd. ("Samsung") and Taiwan Semiconductor Manufacturing Company, Ltd. ("Taiwan Semiconductor"), combined represented greater than 10 percent of total net sales.',
  'relations': [{'Taiwan Semiconductor Manufacturing Company, Ltd.': 'other',
    'Samsung Electronics Company, Ltd.': 'other',
    'score': 1.0}]},
 {'orig_sents': 'The largest purchasers were Valero Energy Corp. ("Valero"), NGL Energy Partners LP, PVR Midstream LLC ("PVR Midstream"), Plains Marketing LP ("Plains Marketing"), and Monarch Natural Gas LLC which accounted for approximately 22%, 12%, 12%, 10% and 10% of consolidated oil and gas sales, respectively.',
  'relations': [{'PVR Midstream LLC': 'other',
    'Valero Energy Corp.': 'other',
    'score': 1.0},
   {'Plains Marketing LP': 'other',
    'Valero Energy Corp.': 'other',
    'score': 1.0},
   {'NGL Energy Partners LP': 'other',
    'Valero Energy Corp.': 'other',
    'score': 1.0},
   {'Monarch Natural Gas LLC': 'other',
    'Valero Energy Corp.': 'other',
    'score': 1.0},
   {'Plains Marketing LP': 'other',
    'PVR Midstream LLC': 'other',
    'score': 1.0},
   {'NGL Energy Partners LP': 'other',
    'PVR Midstream LLC': 'other',
    'score': 1.0},
   {'Monarch Natural Gas LLC': 'other',
    'PVR Midstream LLC': 'other',
    'score': 1.0},
   {'NGL Energy Partners LP': 'other',
    'Plains Marketing LP': 'other',
    'score': 1.0},
   {'Monarch Natural Gas LLC': 'other',
    'Plains Marketing LP': 'other',
    'score': 1.0},
   {'Monarch Natural Gas LLC': 'other',
    'NGL Energy Partners LP': 'other',
    'score': 1.0}]},
 {'orig_sents': 'Greater Cannabis Co Inc reports that The FF Note may be pre paid in whole or in part by paying FF the following premiums',
  'relations': [{'Greater Cannabis Co Inc': 'customer',
    'FF': 'supplier',
    'score': 0.9873}]},
 {'orig_sents': "Greater Cannabis Co Inc reports that The agreement provides for Green C payments to Pharmedica of a $100,000 license fee (which was paid by 2591028 Ontario Limited, an entity affiliated with Green C's Chief Executive Officer, on June 26, 2018) and annual royalties at a rate of 5% of the Net Sales of the Licensed Product subject to a Minimum Annual Royalty of $50,000.",
  'relations': [{'Pharmedica': 'other', "Green C's": 'other', 'score': 0.9978},
   {'2591028 Ontario Limited': 'other', "Green C's": 'other', 'score': 0.9995},
   {'Greater Cannabis Co Inc': 'other', "Green C's": 'other', 'score': 0.9997},
   {'2591028 Ontario Limited': 'other',
    'Pharmedica': 'other',
    'score': 0.8939},
   {'Greater Cannabis Co Inc': 'other', 'Pharmedica': 'other', 'score': 0.995},
   {'Greater Cannabis Co Inc': 'other',
    '2591028 Ontario Limited': 'other',
    'score': 0.997}]}]

In [16]:
sentence = "Advanced Micro Devices Inc have a wafer supply agreement with GLOBALFOUNDRIES Inc (GF) with obligations to purchase all of Advanced Micro Devices Inc microprocessor and accelerated processing unit (APU) product requirements and a certain portion of Advanced Micro Devices Inc graphics processing unit (GPU) product requirements manufactured at process nodes larger than 7 nanometer from GF, with limited exceptions"

In [17]:
relation_extractor.predict_relations([sentence], mutate=True)

| ID | GPU | MEM |
------------------
|  0 |  0% | 13% |
2023-09-12 12:37:30,052 â€” ðŸŒŒ spaCy â€” INFO â€” Start batch job for 1 chunks
2023-09-12 12:37:30,054 â€” ðŸŒŒ spaCy â€” INFO â€” process chunk#1 ...

mutate text: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3/3 [00:00<00:00, 2894.62it/s]
09/12/2023 12:37:30 PM [INFO]: Tokenizing data...
tokenization: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3/3 [00:00<00:00, 1415.56it/s]
tags positioning: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3/3 [00:00<00:00, 3574.69it/s]

Invalid rows/total: 0/3

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 69.00it/s]

,relations,orig_sents,org_groups
idx,,,
0,"[{'GLOBALFOUNDRIES Inc': 'customer', 'Advanced Micro Devices Inc': 'supplier', 'score': 0.9997}, {'GF': 'customer', 'Advanced Micro Devices Inc': 'supplier', 'score': 0.9994}, {'GF': 'other', 'GLOBALFOUNDRIES Inc': 'other', 'score': 0.9987}]","Advanced Micro Devices Inc have a wafer supply agreement with GLOBALFOUNDRIES Inc (GF) with obligations to purchase all of Advanced Micro Devices Inc microprocessor and accelerated processing unit (APU) product requirements and a certain portion of Advanced Micro Devices Inc graphics processing unit (GPU) product requirements manufactured at process nodes larger than 7 nanometer from GF, with limited exceptions","{'Advanced Micro Devices Inc': 0, 'GLOBALFOUNDRIES Inc': 1, 'GF': 2}"

# _Extract relation from file_

In [7]:
# output = relation_extractor.predict_frame(path = 'data/branches/branch0/train.json', sentence_column ='sents')

In [2]:
import pandas as pd
test_data = pd.read_json('data/raw/gold_test.json')

In [32]:
output = relation_extractor.predict_frame(path=test_data, sentence_column='Sentence')

1/1: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 174/174 [00:01<00:00, 108.19it/s]
mutate text: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3605/3605 [00:00<00:00, 6334.24it/s]
03/15/2023 07:10:37 AM [INFO]: Tokenizing data...
tokenization: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3605/3605 [00:03<00:00, 1094.16it/s]
tags positioning: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3605/3605 [00:00<00:00, 49848.24it/s]

Invalid rows/total: 0/3605

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 113/113 [00:15<00:00,  7.29it/s]

In [ ]:
output.sample(10)

,sents,sentence_id,spans,org_groups,aliases,num_orgs,relations
149,"Also, on January 8, 2010 Biotest Pharmaceutica...",149,"[{'text': 'January 8, 2010', 'label': 'DATE', ...","{'Sanquin': 0, 'Cetor': 1, 'Biotest Pharmaceut...",[],4,"{'other': [{'Cetor': 'Sanquin', 'score': 0.912..."
68,"Under a development agreement with Moxie, Gemm...",68,"[{'text': 'Moxie', 'label': 'ORG', 'start': 35...","{'Gemma Power Inc.': 0, 'Argan': 1, 'Moxie': 2...",[],5,"{'other': [{'Argan': 'Gemma Power Inc.', 'scor..."
24,"SANGAMO THERAPEUTICS, INC reports that The inc...",24,"[{'text': 'SANGAMO THERAPEUTICS, INC', 'label'...","{'Biogen': 0, 'SANGAMO THERAPEUTICS, INC': 1, ...",[],4,"{'supplier': [{'SANGAMO THERAPEUTICS, INC': 'B..."
162,Sprint is entitled to expand the number of bun...,162,"[{'text': 'Sprint', 'label': 'ORG', 'start': 0...","{'Sprint': 0, 'TeleNav Inc': 1}",[],2,"{'other': [{'TeleNav Inc': 'Sprint', 'score': ..."
168,"Sales to Samsung Electronics Co., Ltd. and its...",168,"[{'text': 'Samsung Electronics Co., Ltd.', 'la...","{'Samsung Electronics Co., Ltd.': 0, 'Sanshin ...",[],4,"{'supplier': [{'Samsung Electronics Co., Ltd.'..."
8,Applied Materials accounted for approximately ...,8,"[{'text': 'Applied Materials', 'label': 'ORG',...","{'Applied Materials': 0, 'MKS Instruments Inc'...",[],2,{'supplier': [{'MKS Instruments Inc': 'Applied...
113,VERSAR INC reports that PSG provides onsite en...,113,"[{'text': 'VERSAR INC', 'label': 'ORG', 'start...","{'U.S. Army Reserve': 0, 'U.S. Army': 1, 'FAA'...",[],12,"{'other': [{'U.S. Army': 'U.S. Army Reserve', ..."
4,AECOM reports that Washington Group Internatio...,4,"[{'text': 'AECOM', 'label': 'ORG', 'start': 0,...","{'WGI Ohio': 0, 'Washington Group Internationa...",[],5,{'other': [{'Washington Group International': ...
116,VERSAR INC reports that PSG provides onsite en...,116,"[{'text': 'VERSAR INC', 'label': 'ORG', 'start...","{'U.S. Army Reserve': 0, 'U.S. Army': 1, 'FAA'...",[],12,"{'other': [{'U.S. Army': 'U.S. Army Reserve', ..."
100,VERSAR INC reports that PSG provides onsite en...,100,"[{'text': 'VERSAR INC', 'label': 'ORG', 'start...","{'U.S. Army Reserve': 0, 'U.S. Army': 1, 'FAA'...",[],12,"{'other': [{'U.S. Army': 'U.S. Army Reserve', ..."